In [5]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder

data = pd.read_csv('Vgsales1.csv', index_col='Name')
data.head()

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [6]:
data.columns

Index(['Rank', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [7]:
required_info = data[['Rank', 'Platform', 'Year', 'Genre', 'Publisher']]
required_info.head()

                          Rank Platform    Year         Genre Publisher
Name
Wii Sports                   1      Wii  2006.0        Sports  Nintendo
Super Mario Bros.            2      NES  1985.0      Platform  Nintendo
Mario Kart Wii               3      Wii  2008.0        Racing  Nintendo
Wii Sports Resort            4      Wii  2009.0        Sports  Nintendo
Pokemon Red/Pokemon Blue     5       GB  1996.0  Role-Playing  Nintendo

In [8]:
required_info.dropna(inplace=True)

<ipython-input-8-953540fed462>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  required_info.dropna(inplace=True)

In [10]:
encoder = LabelEncoder()
for i in list(required_info.columns):
    encoder.fit(required_info[i])
    required_info[i] = encoder.transform(required_info[i])
required_info.head()

<ipython-input-10-67d8188c57e2>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  required_info[i] = encoder.transform(required_info[i])

                          Rank  Platform  Year  Genre  Publisher
Name
Wii Sports                   0        26    26     10        359
Super Mario Bros.            1        11     5      4        359
Mario Kart Wii               2        26    28      6        359
Wii Sports Resort            3        26    29     10        359
Pokemon Red/Pokemon Blue     4         5    16      7        359

In [11]:
required_info = required_info.T
required_info.head()

Name,Wii Sports,Super Mario Bros.,Mario Kart Wii,Wii Sports Resort,Pokemon Red/Pokemon Blue,Tetris,New Super Mario Bros.,Wii Play,New Super Mario Bros. Wii,Duck Hunt,...,Mega Brain Boost,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru,Eiyuu Densetsu: Sora no Kiseki Material Collection Portable,Myst IV: Revelation,Plushees,Woody Woodpecker in Crazy Castle 5,Men in Black II: Alien Escape,SCORE International Baja 1000: The Official Game,Know How 2,Spirits & Spells
Rank,0,1,2,3,4,5,6,7,8,9,...,16281,16282,16283,16284,16285,16286,16287,16288,16289,16290
Platform,26,11,26,26,5,5,4,26,26,11,...,4,20,19,13,4,6,7,16,4,6
Year,26,5,28,29,16,9,26,26,29,4,...,28,36,27,24,28,22,23,28,30,23
Genre,10,4,6,10,7,5,4,3,4,8,...,5,0,7,1,9,4,8,6,5,4
Publisher,359,359,359,359,359,359,359,359,359,359,...,296,568,156,524,122,269,241,21,8,544

In [15]:
recent_played = required_info['Duck Hunt']
related = required_info.corrwith(recent_played)
related.sort_values(ascending= False).head(10)

Name
Duck Hunt                        1.000000
Super Mario Bros.                0.999746
Tetris                           0.999647
Super Mario World                0.999239
Super Mario Bros. 3              0.999181
Gran Turismo 3: A-Spec           0.998965
Pokemon Red/Pokemon Blue         0.998956
Super Mario Land                 0.998933
Grand Theft Auto: San Andreas    0.998797
Grand Theft Auto: Vice City      0.998777
dtype: float64